body{
  width: 100%;
  z-index: 1;
  margin: 0;
}

body>div{
  max-width: 30%;
  display: flex;
  flex-direction: column;
  max-height: 85%;
  padding: 30px 0px;
  position:fixed;
  right: 50px;
  bottom: 45px;
  display: none;
  z-index:10;
}

body>div>div>h1{
  text-align: center;
  margin-top:0;
}


body>div>div{
  padding: 30px 25px 20px 20px;
  max-width:100%;
  max-height: 80%;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #F7F5F4;
}

body>div>div>div{
  display: flex;
  justify-content: space-between;
}

body>div>div>div+div{
  max-width: 100%;
}

#message{
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 400px;
  display: block;
  align-content: flex-start;
  overflow: auto;
  padding: 10px;
}

#message p{
  display: block;
  width: 50%;
  min-height: 30px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  word-wrap: break-word;
}

.me, .bot{
  border: 1px solid blue;
  float: left;
}

.bot, .botDontKnow, .botAdvice{
  float: right;
}

.botDontKnow{
  border:1px solid red;
}

.botAdvice{
  border: 1px solid green;
}

div input{
  flex: 3;
  max-width: 75%;
  overflow: hidden;
}

span{
  display: inline-block;
}

div button{
  flex:1;
  max-width: 25%;
  overflow: hidden;
}

button{
  outline-style: none;
}

#bot-typing{
  margin:0;
  margin-bottom: 10px;
  padding-top: 10px;
}

#typing-msg{
  visibility: hidden;
  margin: 0;
}

#open-chat{
  position: fixed;
  right: 0;
  bottom:0;
  width: 150px;
  height: 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  background-color: #21CD0C;
  display: none;
}
